/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}



/* Here is one of many  CSS rules you will need... */


#one {
    border: 5px blue solid;
    margin: 5px;
    padding: 5px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 25%;


}

#two {
    border: 5px green solid;
    margin: 5px;
    padding: 5px;
    position: fixed;
    top: 1rem;
    right: 0;
    width: 25%;

}

#three {
    border: 5px orange solid;
    margin: 5px;
    padding: 5px;
    position: fixed;
    top: 1rem;
    left: 0;
    width: 25%;

}

#four {
    border: 5px #F0FF0F solid;
    margin: 5px;
    padding: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 25%;

}

a {
    background-color: #0a4b33;
    font-family: 'Roboto', Corbel, Avenir, 'Lucida Grande', 'Lucida Sans', sans-serif;
    font-size: 1rem;
    color: White;
    position: fixed;
    top: 0;
    right: 50%;

}